/* common */
.ui.menu.fixed {
	position: static;
}
.hide {
	display: none !important;
}
.ui.input.left.right.icon > input {
	padding-left: 2.67142857em!important;
	padding-right: 2.67142857em!important;
}
.ui.input.left.right.icon > .left.icon {
	left: 1px;
	right: auto;
}
.ui.dimmer.success {
	background-color: rgba(72, 211, 92, 0.85);
}
[v-cloak] {
	display: none;
}