/* common */
.ui.menu.fixed {
	position: static;
}
.hide {
	display: none !important;
}
.ui.input.left.right.icon > input {
	padding-left: 2.67142857em!important;
	padding-right: 2.67142857em!important;
}
.ui.input.left.right.icon > .left.icon {
	left: 1px;
	right: auto;
}
.ui.dimmer.success {
	background-color: rgba(72, 211, 92, 0.85);
}
[v-cloak] {
	display: none;
}

/* Problems */
.problem-list td.images img{
	max-width: 100%;
	max-height: 15rem;
}
.problem-list td.images{
	text-align: center;
}
.problem-list tbody tr{
	height: 10rem;
}
.problem-list .order button{
	display: block;
	margin: 0.2rem 0;
}
.problem-list .order .order-number{
	font-weight: bold;
}
#imgmodal .content {
	text-align: center;
}
img.zoom {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.ui.fullscreen.modal, .ui.scrolling.fullscreen.modal {
	left: 2.5% !important;
}
#imgmodal img {
	max-width: 100%;
}
#imgmodal .ui.segment{
	min-height: 10rem;
}
#imgmodal .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
	cursor: default;
}
#upload-btn{
	position: relative;
	z-index: 1;
}
#fileupload{
	display: block;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    cursor: pointer;
}
.ui.progress {
	margin: 1em 0 0;
}

/* Examinee */
.upload-form img {
	margin: 1rem auto;
}
.upload-form {
	text-align: center;
}