- var sitename = "PopnQuiz";
meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1.0")
link(rel='stylesheet',type='text/css',href='/static/admin/semantic.min.css')
link(rel='stylesheet',type='text/css',href='/static/admin/admin.css')
script(src='/static/admin/vue.js')
script(src='/static/admin/jquery-3.3.1.min.js')
script(src='/static/admin/semantic.min.js')