doctype html
html(lang='en')
	head
		title Admin Login
		include common.pug
	body
		nav.ui.fixed.navbar.menu
			.item 
				b= sitename+' Admin'
		main.ui.page.grid.container
			.column
				h2.ui.dividing.header ผู้ดูแลระบบ
				form.ui.form(action!="<?= $r?'?r='.$r:'' ?>", method='POST', class!="<?= $error_msg?'error':'' ?>")
					.ui.error.message <?= htmlspecialchars($error_msg?:'') ?>
					.field
						label Username
						input(type='text', name='username')
					.field
						label Password
						input(type='password', name='password')
					button.ui.button(type='submit') Login