doctype html
html(lang='en')
	head
		title Exam list
		script.
			var server = <?= $script_vars ?>;
		include common.pug
		script.
			$(function(){
				var app = new Vue({
					el: 'main',
					data : {
						quizzes: server.quiz,
						searchbar: ''
					},
					methods: {
						// TODO: error handling
						update: function(response){
							if('quiz' in response){
								this.quizzes = response.quiz;
							}
						},
						fetch: function(){
							$.getJSON('api_quiz_list', this.update);
						},
						create: function(){
							$.getJSON('api_quiz_create', this.update);
						},
						switchEnable: function(quiz, new_enable){
							$('#enable-confirm .content').text((new_enable?							'ยืนยันการเปิดใช้งานข้อสอบ ':'ยืนยันการปิดใช้งานข้อสอบ ') + quiz.title);
							$('#enable-confirm .new-state').text(new_enable?							'Enable':'Disable');
							$('#enable-confirm').modal({
								duration: 100,
								onApprove: function(){
									$.post({
										url: '/admin/api_quiz_enable',
										data: {
											quiz_id: quiz.quiz_id,
											enable: +new_enable
										},
										success: function(resp){
											if('quiz' in resp){
												quiz.enable = resp.quiz.enable;
											}
										},
										dataType: 'json'
									});
								}
							}).modal('show');
						}
					},
					computed: {
						filteredQuizzes: function(){
							if(this.searchbar){
								var needle = this.searchbar.toLocaleLowerCase();
								var out = [];
								for (let i of this.quizzes){
									if(i.title.toLocaleLowerCase().indexOf(needle)!==-1)
										out.push(i);
								}
								return out;
							} else
								return this.quizzes;
						}
					},
					filters: {
						timestampToDate: function(timestamp){
							if(timestamp==0)
								return '-';
							var date = new Date((+timestamp)*1000);
							return (date.getFullYear()+543)+'/'+(date.getMonth()+1)+'/'+date.getDate()+' '+date.toTimeString().substring(0,5);
						}
					}
				});
			});
	body
		.ui.mini.modal#enable-confirm
			.header
				i.check.square.outline.icon
				span.new-state
				|  Confirmation
			.content
			.actions
				.ui.red.cancel.button Cancel
				.ui.green.ok.button
					span.new-state
		nav.ui.fixed.navbar.menu
			.item
				.ui.breadcrumb
					.active.section Quiz List
			.right.menu
				a.item(href='/admin/logout') Logout
		main.ui.page.grid.container(v-cloak)
			.column
				h1.ui.dividing.header Quiz List
				.ui.items
					.item
						.content
							.ui.icon.input
								input(type="text",placeholder="Search...",v-model="searchbar")
								i.search.icon(v-show="!searchbar")
								i.close.link.icon(v-show="searchbar", @click="searchbar=''")
							.right.floated
								//- button.ui.button(@click="fetch")
								//- 	| Update
								button.ui.labeled.icon.primary.button(@click="create")
									i.plus.icon
									| New Quiz
				table.ui.selectable.celled.table
					thead
						tr
							th.one.wide Enable
							th.four.wide Start time
							th Name
					tbody
						tr(v-for="quiz in filteredQuizzes")
							td.selectable.center.aligned(:class="{positive:+quiz.enable,negative:!+quiz.enable}", @click="switchEnable(quiz, !+quiz.enable)")
								a
									i.check.icon(v-if="+quiz.enable")
									i.close.icon(v-else)
							td.selectable
								a(:href="'quiz/' + quiz.quiz_id") {{quiz.start_time | timestampToDate}}
							td.selectable
								a(:href="'quiz/' + quiz.quiz_id") {{quiz.title}}
						tr(v-if="quizzes.length == 0")
							td.center.aligned(colspan=3) No quiz yet.