doctype html
html(lang='en')
	head
		title Exam Finish
		include common.pug
	body
		nav.ui.fixed.inverted.navbar.menu
			.item PopQuiz
			.right.menu
				.item= name
				a.item(href='/exam/logout') Logout
		main.ui.page.grid.container
			.column
				center
					h1.ui.header ระบบได้ทำการบันทึกคำตอบของคุณแล้ว
					a.ui.primary.button(href='/exam/logout') Logout
				// .ui.segment
				// 	| Stats ...
