doctype html
html(lang='en')
	head
		title Examminee Login
		include common.pug
	body
		nav.ui.fixed.inverted.navbar.menu
			.item= sitename
		main.ui.page.grid.container
			.column
				h2.ui.dividing.header Login
				form.ui.form(action='', method='POST', class!="<?= $error_msg?'error':'' ?>")
					.ui.error.message <?= htmlspecialchars($error_msg?:'') ?>
					.field
						label Token
						input(type='text', name='token', autocomplete='off')
					button.ui.button(type='submit') Login