doctype html
html(lang='en')
	head
		title Exam prepare
		script.
			var server = <?= $script_vars ?>;
			server.offset = server.server_time-Date.now()/1000;
		include common.pug
		script(src='/static/exam/lounge.js')
	body
		nav.ui.fixed.inverted.navbar.menu
			.item PopQuiz
			.right.menu
				.item <?= htmlspecialchars($name) ?>
				a.item(href='/exam/logout') Logout
		main.ui.page.grid.container
			.column
				h1.ui.dividing.header.quiz-title <?= htmlspecialchars($quiz_title) ?>
				.instruction <?= htmlspecialchars($instruction) ?>
				.ui.divider
				.ui.checkbox#agree
					input(type="checkbox")
					label ข้าพเจ้าได้อ่านและรับทราบข้อกำหนดของการสอบแล้ว
				button.ui.large.green.button.hide#start_btn Start
				#timer Loading...