/* common */
.ui.menu.fixed {
	position: static;
}
.hide {
	display: none !important;
}

/* problem */
#content, #loading {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem -0.5rem 1rem;
}
#content {
	display: flex;
}
#content > div {
	margin: 0 0.5rem;
}
#loading .header {
	margin: auto;
}
#content .problem {
	min-width: 20rem;
	flex-basis: 80%;
	flex-grow: 8;
}
#content .problem img, #large-img img {
	max-width: 100%;
}
#large-img .content {
	text-align: center;
}
img.zoom {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
#content .answer {
	min-width: 10rem;
	width: 10rem;
	flex-grow: 2;
}
#content .answer label {
	user-select: none;
}
.ui.fullscreen.modal, .ui.scrolling.fullscreen.modal {
	left: 2.5% !important;
}
#timer.red {
	color: red;
}

/* lounge */
.instruction {
	white-space: pre;
	white-space: pre-wrap;
}
#agree {
	display: block;
	transition: height 150ms ease-out;
	overflow: hidden;
	height: 2rem;
	min-height: 0;
}
#agree.slide {
	height: 0rem;
}